* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/16.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper {
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3), -5px -5px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.form-header {
  color: #3e3e3e;
  text-align: center;
  width: 100px;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.form-container {
  padding: 30px 30px 60px;
  width: 400px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.input-container ::placeholder {
  color: #fff;
  opacity: 0.65;
}
.input-container label {
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 4px;
}
.input-field {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.input-field:focus {
  outline: 1px solid #fff;
  box-shadow: 1px 1px 8px rgb(255, 254, 254), -1px -1px 8px rgb(255, 255, 255);
}

input[type="checkbox"] {
  accent-color: #3e3e3e;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
  text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5),
    -3px -3px 10px rgba(255, 255, 255, 0.5);
}

.remember-forgot,
.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.remember-forgot {
  margin: 8px 20px;
}
.register {
  margin: 0 20px;
}
.remember-me {
  display: flex;
}

.register span {
  margin-right: 30px;
}
.input-submit {
  border-radius: 30px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fff;
  color: #3e3e3e;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background-color: #e6e6e6;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
}
.input-submit:disabled {
  color: #acacac;
  cursor: not-allowed;
}
.input-submit:disabled:hover {
  background-color: #e6e6e6;
  font-size: 14px;
  box-shadow: none;
}
.input-submit:hover {
  background-color: #fff;
  font-size: 16px;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5),
    -3px -3px 10px rgba(255, 255, 255, 0.5);
}
